* {
    margin: 0;
  margin-top: 0;
  padding: 0;
  font-family: sans-serif;
}

.banner {
    width: 100%;
    min-height: 100vh; /* Ensures banner always takes full height of viewport */
    background-size: cover; /* Ensures the background covers the whole area */
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../pics/background.JPEG);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 10px ;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    height: 180px;
}

.signature {
    width: 200px;
    cursor: pointer;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar ul li {
    position: relative;
    height: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #f06553;
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust position as needed */
    transition: width 0.4s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.contentone {
    width: 100%;
    text-align: center;
    margin: auto; /* Center vertically */
    color: #fff;
    font-size: 250%;
    margin-bottom: 15px;
}

.contentone h1 {
    font-size: 100px;
    margin: 10px 0;
    padding: auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 90%;
    margin: auto; /* Center the cards container */
    justify-content: center;
}

.card {
    flex: 1 1 calc(33.333% - 30px); /* Responsive width */
    min-width: 200px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 350px;
    border-radius: 10px;
    color: rgb(207, 177, 4);
    cursor: pointer;
    transition: transform 400ms ease;
}

.cards .red { background-image: url(../pics/bmw.jpg);
background-position-x: right;
background-position-y: center;
background-size: 100%;
}
.cards .blue { background-image: url(../pics/challengerblue.JPG);
background-size: cover;
background-position-y: center; }
.cards .green { background-image: url(../pics/ycar.JPG); 
background-size: cover;
background-position-y: center;
}
.cards .yellow { background-image: url(../pics/oldblue.JPG);
background-size: cover;
background-position-y: center; }
.cards .teal { background-image: url(../pics/mar.JPG);
background-size: cover;
background-position-y: center; }
.cards .magenta { background-image: url(../pics/marback.JPG);
background-size: cover; 
background-position-y: center;}
.cards .zed { background-image: url(../pics/marfront.JPG); 
background-size: cover;
background-position-y: 65%;
background-position-x: 10%;
}
.cards .a7mr{
    background-image: url(../pics/idk.JPG);
    background-size: cover;
    background-position-y: center;
}
.cards .a5dr{
    background-image: url(../pics/porsche.JPEG);
    background-size: cover;
}
.cards .psrt{
    background-image: url(../pics/srt.JPEG);
    background-size: cover;
}
.cards .bmwb{
    background-image: url(../pics/bmwb.JPG);
    background-size: cover;
}
.cards .wporsche{
    background-image: url(../pics/wporsche.JPG);
    background-size: cover;
}
.cards .redsrt{
    background-image: url(../pics/rsrt.JPG);
    background-size: cover;
}
.cards .yellcar{
    background-image: url(../pics/corvette.JPG);
    background-size: cover;
}
.cards .salbike{
    background-image: url(../pics/salem.JPG);
    background-size: cover;
    background-position-y: center;
}
.cards .wchall{
    background-image: url(../pics/wchallenger.JPG);
    background-size: cover;
}
.cards .wchalle{
    background-image: url(../pics/oldwcar.jpg);
    background-size: cover;
}
.cards .bporsche{
    background-image: url(../pics/bprosche.JPEG);
    background-size: cover;
}
.cards .blambo{
    background-image: url(../pics/lambo.JPEG);
    background-size: cover;
}
.cards .last{
    background-image: url(../pics/challenge.JPG);
    background-size: cover;
}
.cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
}

.cards .card p.second-text {
    font-size: 0.7em;
}

.cards .card:hover {
    transform: scale(2);
    z-index: 2;
    position: relative;
}

.cards:hover > .card:not(:hover) {
    filter: blur(0px);
    transform: scale(0.9);
}

@media (max-width: 768px) {
    .banner {
        background-size: cover; /* Cover the entire section */
    }
    
    .navbar ul {
        gap: 10px;
    }

    .content h1 {
        font-size: 40px;
        padding: auto;
    }

    .content p {
        font-size: 16px;
    }

    button {
        width: 160px;
        padding: 10px 0;
    }
}

/* Adjustments for mobile screens */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 5% 0;
        height: 280px;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .signature {
        width: 120px;
    }

    .content h1 {
        font-size: 30px;
        padding: auto;
    }

    .content p {
        font-size: 14px;
    }

    button {
        width: 150px;
        padding: 8px 0;
    }
    .cards{
        min-width: 180px;
    }
    .cards .card:hover {
        transform: scale(1.3);
        z-index: 2;
        position: relative;
    }
    
    .cards:hover > .card:not(:hover) {
        filter: blur(0px);
        transform: scale(0.9);
    }
}
