* {
  margin: 0;
  margin-top: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.banner {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../background.JPEG);
    background-size: auto;
    background-position: center;
    padding-bottom: 100%; /* Add some padding to the bottom */
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 5%;
  display: flex;
  justify-content: space-between;
  height: 200px;
}

.signature {
  width: 250px;
  cursor: pointer;
  padding: 1px;
  margin-top: 0px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    display: inline-block;
    margin: 0 20px;
    position: relative;
    height: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #f06553;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: width 0.3s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.text {
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 20px 0;
}

.text h1 {
    font-size: 50px;
    margin: 0px 0;
}

.text p {
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 5%;
}
.cards {
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: absolute;
    left: 10%;
  }
  
  .cards .red {
    background-image: url(../carclear.jpg);
    background-size: cover;
  }
  
  .cards .blue {
    background-image: url(../city.jpg);
    background-size: cover;
  }
  
  .cards .green {
    background-image: url(../portrait.jpg);
    background-size: cover;
  }
  
  .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    color: rgb(207, 177, 4);
    cursor: pointer;
    transition: 400ms;
  }
  
  .cards .card h1.tip {
    font-size: 2.6em;
    font-weight: 700;
    transition: transform 300ms ease-in-out;
  }
  .cards .card h1:hover{
    transform: scale(1.5);
  }
  .cards .card p.second-text {
    font-size: .7em;
    padding: 0%;
  }
  
  .cards .card:hover {
    transform: scale(1.2, 1.2);
  }
  
  .cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }