* {
  margin: 0;
  margin-top: 0;
  padding: 0;
  font-family: sans-serif;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2e7760;
    background-size: cover;
    background-position: center;
  }
  .banner {
    width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Vertically align content */
  }
  
  .navbar {
    width: 85%;
  margin: auto;
  padding: 40px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  height: 200px;
  }
  
  .signature {
    width: 150px;
    cursor: pointer;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .navbar ul li {
    position: relative;
    height: 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
  
  .navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #f06553;
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust position as needed */
    transition: width 0.4s;
  }
  
  .navbar ul li:hover::after {
    width: 100%;
  }
  
  .contentone {
    width: 100%;
    text-align: center;
    margin: auto; /* Center vertically */
    color: #fff;
    font-size: 250%;
    margin-bottom: 15px;
  }
  
  .contentone h1 {
    font-size: 100px;
    margin: 20px 0;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 90%;
    margin: 0 auto; /* Center the cards container */
    justify-content: center;
  }
  
  .card {
    flex: 1 1 calc(33.333% - 30px); /* Responsive width */
    min-width: 200px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 350px;
    border-radius: 10px;
    color: rgb(207, 177, 4);
    cursor: pointer;
    transition: transform 400ms ease;
  }
  
  .cards .red { background-image: url(../por\ \(31\).JPG);
  background-position-x: right;
  background-position-y: center;
  background-size: 100%;
  }
  .cards .blue { background-image: url(../por\ \(37\).jpg);
  background-size: cover;
  background-position: center; }
  .cards .green { background-image: url(../por\ \(18\).jpg); 
  background-size: cover;
  background-position-y: center;
  }
  .cards .yellow { background-image: url(../por\ \(8\).jpg);
  background-size: cover;
  background-position: center; }
  .cards .teal { background-image: url(../por\ \(33\).JPG);
  background-size: cover;
  background-position: center right 40%; }
  .cards .magenta { background-image: url(../moe.JPG);
  background-size: cover; 
  background-position-y: center;}
  .cards .zed { background-image: url(../por\ \(32\).JPG); 
  background-size: cover;
  background-position-y: 65%;
  background-position-x: 10%;
  }
  .cards .a7mr{
    background-image: url(../por\ \(7\).jpg);
    background-size: cover;
    background-position-y: center;
  }
  .cards .a5dr{
    background-image: url(../por\ \(3\).jpg);
    background-size: cover;
    background-position: center right 48%;
  }
  .cards .psrt{
    background-image: url(../por\ \(17\).jpg);
    background-size: cover;
    background-position: center;
  }
  .cards .bmwb{
    background-image: url(../por\ \(10\).jpg);
    background-size: cover;
    background-position: center;
  }
  .cards .wporsche{
    background-image: url(../por\ \(11\).jpg);
    background-size: cover;
    background-position: center right 5%;
  }
  .cards .redsrt{
    background-image: url(../por\ \(12\).jpg);
    background-size: cover;
    background-position: center;
  }
  .cards .yellcar{
    background-image: url(../por\ \(13\).jpg);
    background-size: cover;
    background-position: center right 11%;
  }
  .cards .salbike{
    background-image: url(../por\ \(9\).jpg);
    background-size: cover;
    background-position: center;
  }
  .cards .wchall{
    background-image: url(../por\ \(44\).jpg);
    background-size: cover;
    background-position: center right 25%;
  }
  .cards .wchalle{
    background-image: url(../por\ \(16\).jpg);
    background-size: cover;
    background-position: center right 40%;
  }
  .cards .bporsche{
    background-image: url(../por\ \(34\).jpg);
    background-size: cover;
    background-position: center;
  }
  .cards .blambo{
    background-image: url(../por\ \(34\).jpg);
    background-size: cover;
  }
  .cards .last{
    background-image: url(../por\ \(26\).jpg);
    background-size: cover;
  }
  .cards .one{
    background-image: url(../por\ \(20\).jpg);
    background-size: cover;
    background-position: center;
  }.cards .two{
    background-image: url(../por\ \(21\).jpg);
    background-size: cover;
    background-position: center;
  }.cards .three{
    background-image: url(../por\ \(22\).jpg);
    background-size: cover;
  }.cards .four{
    background-image: url(../por\ \(27\).jpg);
    background-size: cover;
  }.cards .five{
    background-image: url(../por\ \(36\).jpg);
    background-size: cover;
    background-position: center right 60%;
  }.cards .six{
    background-image: url(../por\ \(25\).jpg);
    background-size: cover;
  }.cards .seven{
    background-image: url(../por\ \(41\).jpg);
    background-size: cover;
    background-position: center right 65%;
  }.cards .nine{
    background-image: url(../por\ \(19\).jpg);
    background-size: cover;
  }.cards .eleven{
    background-image: url(../por\ \(23\).jpg);
    background-size: cover;
    
  }.cards .twelve{
    background-image: url(../por\ \(29\).jpg);
    background-size: 120%;
    background-position: center;
  }.cards .thirteen{
    background-image: url(../por\ \(30\).jpg);
    background-size: cover;
  }
  .cards .fourteen{
    background-image: url(../por.jpeg);
    background-size: cover;}
.cards .fifteen{
    background-image: url(../por\ \(6\).jpg);
    background-size: cover;
    background-position: center;
  }
  
  .cards .sixteen{
    background-image: url(../por\ \(4\).jpg);
    background-size: cover;
  }.cards .eighteen{
    background-image: url(../por\ \(14\).jpg);
    background-size: cover;
    background-position: center;
  }.cards .nineteen{
    background-image: url(../por\ \(2\).jpeg);
    background-size: cover;
  }.cards .twenty{
    background-image: url(../por\ \(35\).jpg);
    background-size: cover;
  }
  .cards .tone{
    background-image: url(../por\ \(1\).jpg);
    background-size: cover;
  }
  
  .cards .tfour{
    background-image: url(../por\ \(2\).jpg);
    background-size: cover;
    background-position: center;
  }
  .cards .tfive{
    background-image: url(../por\ \(45\).jpg);
    background-size: cover;
  }
.cards .tsix{
    background-image: url(../por\ \(40\).jpg);
    background-size: cover;
    background-position: center;
  }.cards .tseven{
    background-image: url(../por\ \(28\).jpg);
    background-size: cover;
    background-position: center right 51%;
  }
  .cards .teight{
    background-image: url(../por\ \(42\).jpg);
    background-size: cover;
    background-position: center;
  }
  
  .cards .tnine{
    background-image: url(../por\ \(43\).jpg);
    background-size: cover;
    background-position: center;
  }
  .cards .therty{
    background-image: url(../por\ \(15\).jpg);
    background-size: cover;
    background-position: center;
  }
.cards .thone{
    background-image: url(../por\ \(39\).jpg);
    background-size: cover;
    background-position: right 15%;
  }.cards .thtwo{
    background-image: url(../por\ \(24\).jpg);
    background-size: cover;
    background-position-y: bottom;
  }
  .cards .ththree{
    background-image: url(../por\ \(3\).jpeg);
    background-size: cover;
  }
  
  .cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
  }
  
  .cards .card p.second-text {
    font-size: 0.7em;
  }
  
  .cards .card:hover {
    transform: scale(2);
    z-index: 2;
    position: relative;
  }
  
  .cards:hover > .card:not(:hover) {
    filter: blur(0px);
    transform: scale(0.9);
  }